.header {
    background-color: black;
    height: 200px;
    line-height: 200px;
    &__title {
        color: white;
        text-align: center;
    }
}

.article {
    &__title {
        text-align: center;
        margin: 15px 0;
    }
    &__text {
        text-align: justify;
        padding: 0 25px;
    }
}